body{
    background-color:cornsilk;
    text-align: center;
    font-size: large;
}

/* To refer to an id in css use # */
/* To refer to a class in css use .*/

#demobutton{
    background-color:rgb(26, 95, 235);
    border-color: rgb(6, 22, 54);
    font-size: large;
    color: white;
}